/*
This CSS is used for:

1. The dictionary and sample sentnece code
2. The Genealogy research-related md files in ~/g/research and its folders
 */
body {

 color: #E6E6E6;  /* colors from Azure documentation */
 background-color: #171717;
}

section {

  font-family: 'Lato Medium', Arial, sans-serif;
  width: 50%;
  margin: auto auto;

  padding: 10px; 
}

section p { 
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  line-height: 1.6em; 
  margin: 3px 0;     
}


a:link {
 text-decoration: none;
 color: #75b6e7;
}

a:visited {
 text-decoration: none;
 color: #a87bdb;
}

/* Hover must come after link and visited! */
a:hover {
 text-decoration: underline;
}


h1, h2, h3, h4, h5 {

  font-family: 'Fira Sans'; /*'Karla Semibold', 'Open Sans', Arial, sans-serif;
  color: rgb(230, 230, 230);
  /*
   Gold:
  color: #ffd700;   <-- bold and stronger gold*/
}

table {
 /* 
  font-family: Arial, Helvetica, sans-serif;
  */
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}
/*
table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}
*/
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
/*
  background-color: #04AA6D;
  color: white;
*/
}
